.ais-Hits {
  z-index: 100;
  position: relative;
  background: #fefefe;
}

.ais-Hits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  border: 1px solid #006400;
}

.ais-Hits-list > a {
  width: 100%;
  text-decoration: none;
}

.ais-Hits-item {
  width: 100%;
  margin: 0;
  border-color: transparent;
  color: #333;
  padding: 15px;
  box-shadow: none;
}

.ais-Hits-item:hover {
  background-color: rgba(0, 100, 0, 0.4);
  color: white;
}
.ais-Hits-item:hover em {
  color: #333;
}

.no-results-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
align-items: center;
}